{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TODO | Password Generator</title>
    <link rel="stylesheet" href="{% static 'user_auth/css/bootstrap.min.css' %}">
</head>
<body>
{% block content %}
    <h1 style="background-color: #ffc107;text-align: center;padding: 5px;padding-bottom: 8px">{% trans 'Password Generator' %}</h1>
<div class="container text-center">

    <br>
    <br>
  <form action="{% url 'generate_password' %}" method="post">
      {% csrf_token %}
    <select name="length" style="width: 80px">
        {% for i in range %}
            {% if i != 12 %}
                <option value="{{i}}">{{i}}</option>
            {% else %}
                <option  selected="selected" value="{{i}}">{{i}}</option>
            {% endif%}
        {% endfor%}
    </select> {% trans 'Length' %}
    <br>
    <br>
    <br>
    <input type="checkbox" name="uppercase"> {% trans 'Uppercase' %}
    <br>
    <br>
    <input type="checkbox" name="numbers"> {% trans 'Numbers' %}
    <br>
    <br>
    <input type="checkbox" name="special_characters"> {% trans 'Special Characters' %}
    <br>
    <br>
    <input type="checkbox" name="arabic_letters"> {% trans 'Arabic Letters' %}
    <br>
    <br>
    <button type="submit" class="btn btn-primary">{% trans 'Generate Password' %}</button>
  </form>
</div>
{% endblock %}

<script src="{% static 'user_auth/js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'user_auth/js/bootstrap.min.js' %}"></script>
{% block js %}
{% endblock %}
</body>
</html>