{% extends 'user_auth/base.html' %}
{% load static %}
{% block content %}
    <div class="container" style="text-align: center;">

        <h1 style="color: white">Welcome
            <span style="color: red;">
                {{ user.first_name }} {{ user.last_name }}
            </span>
            to our Home Page
        </h1>
        <br>
        <br>
        {% if user.is_authenticated  %}

            <form method="post" action="{% url 'logout_user' %}" >
                <button type="button" class="btn btn-secondary">Logout</button>
            </form>

        {% else %}
            <form method="post" action="#" >
                <button type="button" class="btn btn-primary">Sign Up</button>
            </form>

            <form method="post" action="{% url 'login_user' %}" >
                 <button type="button" class="btn btn-success">Login</button>
            </form>
        {% endif %}
</div>
{% endblock %}