{% extends 'user_auth/base.html' %}
{% load static %}
{% block content %}


{% include 'user_auth/delete_account.html' %}
{% include 'user_auth/change_password.html' %}
{% include 'user_auth/edit-information.html' %}
{% include 'user_auth/logout.html' %}

    <div class="jumbotron" style="margin-top: 50px">
        <h1 class="display-4">Welcome
            <span style="font-weight: bold" >
                {{ user.first_name }} {{ user.last_name }}
            </span> to our Home Page
        </h1>
            {% for message in messages %}
                <div class="alert alert-dark" role="alert">
                    {{message}}
                </div>
            {% endfor %}
        {% if user.is_authenticated  %}
            <br>
            <p class="lead">
                <h4>Your Account Information :</h4><br>
                First Name : {{ user.first_name }}<br>
                Last Name : {{ user.last_name }}<br>
                Username : {{ user.username }}<br>
                Email : {{ user.email }}<br>
            </p>
            <hr class="my-4">
            <p class="lead" style="text-align: left">
            <button style="display:inline;" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#exampleModal_logout">
                    Logout
              </button>
            <button style="display:inline;" type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#exampleModal_change_password">
                    Change The password
              </button>
            <button style="display:inline;" type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#exampleModal_delete_account">
                    delete my account
              </button>
            <button style="display:inline;" type="button" class="btn btn-secondary btn-lg" data-toggle="modal" data-target="#exampleModal_edit_information">
                    Edit Information
              </button>

            </p>
        {% else %}
              <hr class="my-4">
              <p>if you have an account please login , if not you can create an account by press the sign up button</p>
                        <br>
                        <br>
            {% include 'user_auth/login.html' %}
            {% include 'user_auth/sign_up.html' %}

              <p class="lead" style="text-align: center">

              <button id="login_botton" style="display:inline;" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#exampleModal_login">
                    Login
              </button>
            <button style="display:inline;" type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#exampleModal_signup">
                    Sign Up
              </button>

              </p>
        {% endif %}
    </div>
{% endblock %}
{% block js %}
    <script>
    </script>
{% endblock %}
