{% extends 'user_auth/base.html' %}
{% load static %}
{% block content %}
    <div class="container" style="text-align: center;">

        <h1 style="color: white">Welcome <span style="color: red;">{{ user.first_name }} {{ user.last_name }}</span> to our Home Page</h1>
        <br>
        <br>
        {% if user.is_authenticated  %}
            <a href="#">
                <button type="button" class="btn btn-secondary">Logout</button>
            </a>
        {% else %}
            <a href="#">
                <button type="button" class="btn btn-primary">Sign Up</button>
            </a>
            <a href="#">
                 <button type="button" class="btn btn-success">Login</button>
            </a>
        {% endif %}
</div>
{% endblock %}